<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="a8604f70-71c8-4a50-beb7-d3813ddf6eba" Version="1.1.0.0" Publisher="CN=Sachtony Software" />
  <mp:PhoneIdentity PhoneProductId="a8604f70-71c8-4a50-beb7-d3813ddf6eba" PhonePublisherId="2ab175ae-d16d-408b-ada1-b6d67e2f9cab" />
  <Properties>
    <DisplayName>Sachtony Store</DisplayName>
    <PublisherDisplayName>Sachtony LLC</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="https://sachtony.com">
      <uap:ApplicationContentUriRules>
        <uap:Rule Match="https://sachtony.com" Type="include" WindowsRuntimeAccess="all" />
        <uap:Rule Match="https://*.*" Type="include" WindowsRuntimeAccess="none" />
        <uap:Rule Match="http://*.*" Type="include" WindowsRuntimeAccess="none" />
        <uap:Rule Match="https://services.sachtony.com" Type="include" WindowsRuntimeAccess="none" />
        <uap:Rule Match="https://products.sachtony.com" Type="include" WindowsRuntimeAccess="none" />
      </uap:ApplicationContentUriRules>
      <uap:VisualElements DisplayName="Sachtony Store" Description="eCommerce" BackgroundColor="transparent" Square150x150Logo="images\Square150x150Logo.png" Square44x44Logo="images\Square44x44Logo.png">
        <uap:LockScreen Notification="badge" BadgeLogo="images\BadgeLogo.png" />
        <uap:DefaultTile Wide310x150Logo="images\Wide310x150Logo.png" Square310x310Logo="images\LargeTile.png" Square71x71Logo="images\SmallTile.png">
        </uap:DefaultTile>
        <uap:SplashScreen Image="images\splashscreen.png" />
        <uap:InitialRotationPreference>
          <uap:Rotation Preference="portrait" />
          <uap:Rotation Preference="landscape" />
        </uap:InitialRotationPreference>
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClientServer" />
    <uap:Capability Name="voipCall" />
    <uap:Capability Name="phoneCall" />
    <uap:Capability Name="enterpriseAuthentication" />
    <DeviceCapability Name="webcam" />
    <DeviceCapability Name="microphone" />
  </Capabilities>
</Package>
